*{
  box-sizing: border-box;
  line-height: 1.6;
}

h2{
  margin: 0;
  padding: 0;
}

.clickBtn{
  display: block;
  background-color: coral;
  color: #ffff;
  padding: 15px 25px;
  margin: 40vh auto;
  border: none;
}

.clickBtn:hover{
  background-color: #1f1f1f ;
}

.modalContainer{
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(30,30,30,0.4);
  animation: displaying 0.7s ease-in-out;
  overflow: auto;
}

/* Modal Content*/
.modalContent{
  background-color: #ffff;
  width: 70%;
  margin: 20% auto;
  padding: 0px;
  color: #78797d;
}

/* Modal Header */
.modalHead{
  background-color: coral;
  color: #fff;
  padding: 20px 10px;
}
.closeBtn{
  float: right;
  font-size: 30px;
  font-weight: bolder;
}
.closeBtn:hover{
  cursor: pointer;
  color: #1f1f1f;
}

/* Modal Body */
.modalBody{
  padding: 20px 10px;
  font-size: 17px;
}

/* Modal Footer */
.modalFooter{
  background-color: coral;
  color: #fff;
  padding: 10px;
  text-align: center;
}

@keyframes displaying{
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}